@import url(./reset.min.css);

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: local('Pretendard-Black'),
        url("../font/Pretendard-Black.ttf") format('truetype'),
        url("../font/Pretendard-Black.woff2") format('woff2'),
        url("../font/Pretendard-Black.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: local('Pretendard-ExtraBold'),
        url("../font/Pretendard-ExtraBold.ttf") format('truetype'),
        url("../font/Pretendard-ExtraBold.woff2") format('woff2'),
        url("../font/Pretendard-ExtraBold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: local('Pretendard-Bold'),
        url("../font/Pretendard-Bold.ttf") format('truetype'),
        url("../font/Pretendard-Bold.woff2") format('woff2') url("../font/Pretendard-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: local('Pretendard-SemiBold'),
        url("../font/Pretendard-SemiBold.ttf") format('truetype'),
        url("../font/Pretendard-SemiBold.woff2") format('woff2'),
        url("../font/Pretendard-SemiBold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: local('Pretendard-Medium'),
        url("../font/Pretendard-Medium.ttf") format('truetype'),
        url("../font/Pretendard-Medium.woff2") format("woff2"),
        url("../font/Pretendard-Medium.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: local('Pretendard-Regular'),
        url("../font/Pretendard-Regular.ttf") format('truetype'),
        url("../font/Pretendard-Regular.woff2") format('woff2'),
        url("../font/Pretendard-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: local('Pretendard-Light'),
        url("../font/Pretendard-Light.ttf") format('truetype'),
        url("../font/Pretendard-Light.woff2") format('woff2'),
        url("../font/Pretendard-Light.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: local('Pretendard-ExtraLight'),
        url("../font/Pretendard-ExtraLight.ttf") format('truetype'),
        url("../font/Pretendard-ExtraLight.woff2") format('woff2'),
        url("../font/Pretendard-ExtraLight.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: local('Pretendard-Thin'),
        url("../font/Pretendard-Thin.ttf") format('truetype'),
        url("../font/Pretendard-Thin.woff2") format('woff2'),
        url("../font/Pretendard-Thin.woff") format('woff');
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}



/* common 영역 */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Paperozi';
    line-height: 1.2;
    color: #2A3037;
}

.pretendard {
    font-family: 'Pretendard';
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 60px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.sec {
    padding: 120px 0;
}

.color {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

/* header 영역 */
.header-sec {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
}

.logo,
.header-menu a {
    color: #2A3037;
}

.header-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
}

.header-menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.header-menu li:hover {
    text-decoration: underline;
}

.hamburger-btn {
    display: none;
}

.close-btn {
    display: none;
}

/* kv 영역 */
.kv-sec {
    background-image: url("../image/main-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.kv-wrap {
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%
}

.kv-wrap img {
    width: 35%;
}

.kv-text {
    width: 65%;
}

.kv-text a:hover {
    background-color: #516AEC;
    color: white;
    transition: all 0.3s ease;
}

.kv-subtitle {
    font-size: 24px;
    line-height: 1.7;
    font-family: 'pretendard';
    font-weight: 500;
}

.kv-subtitle span {
    color: #3C5BBA;
}

.kv-title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 15px;
}

.kv-desc {
    font-size: 22px;
    margin-top: 10px;
    line-height: 30px;
    margin-bottom: 40px;
}

.kv-btn {
    width: 170px;
    height: 50px;
    background-color: #092D77;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
}

/* menu 영역 */
.menu-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 65px 0 65px;
}

.menu-wrap p {
    text-align: center;
    /* margin-top: 20px; */
    font-size: 20px;
    font-weight: 500;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-img {
    background-color: #F3F5FF;
    border-radius: 50%;
    width: 142px;
    height: 142px;
    position: relative;
}

.menu-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}


/* plan 영역 */
.plan-sec {
    background-color: #EEEEEE;
    width: 100%;
}

.plan-title span {
    color: #516AEC;
}

.plan-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 32%; */
    height: 465px;
    background-color: white;
    border-radius: 20px;
    gap: 2%;
}

.plan-card-subtitle01 {
    font-size: 18px;
    font-weight: 500;
}

.plan-card-title {
    font-size: 32px;
    font-weight: 600;
}

.plan-card-subtitle02 {
    font-size: 18px;
    font-weight: 600;
    color: #516AEC;
}

.plan-card-desc {
    padding: 20px 0;
}

.plan-card-desc p {
    padding-top: 20px;
}

.plan-card-price {
    margin-top: 20px;
}

.span01 {
    text-decoration: line-through;
    color: #727272;
}

.span02-1 {
    color: #F95252;
    font-weight: 600;
}

.span02-2 {
    font-size: 30px;
}

.merit {
    color: #727272;
}

.btn {
    font-size: 18px;
    font-weight: 500;
}

.plan-sec-btn {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #516AEC;
    border: none;
    border-radius: 50px;
    width: fit-content;
    margin: 60px auto 0;
    gap: 10px;
}

.plan-sec-btn:hover {
    background-color: #022B92;
    color: white;
    transition: all 0.3s ease;
}

.swiper-button-next,
.swiper-button-prev {
    color: #2A3037;
    border: none;
    background-color: transparent;
}


/* discount 영역 */
.discount-sec {
    background-color: #2A3037;
    width: 100%;
}

.discount-title {
    color: white;
}

.discount-title span {
    font-size: 42px;
}

.discount-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 423px;
    background-color: white;
    border-radius: 20px;
    gap: 2%;
}


.discount-card-title {
    font-size: 28px;
    font-weight: 700;
}

.discount-card-data ul {
    display: flex;
    justify-content: center;
    gap: 4%;
}

.discount-card-data ul>li {
    font-family: 'pretendard';
    font-weight: 300;
    width: 60px;
    height: 24px;
    border-radius: 4px;
    color: white;
    background-color: #516AEC;
    padding: 3px 3px;
    text-align: center;
}

.discount-card-color ul {
    display: flex;
    gap: 8px;
}

.color01 {
    background-color: #3C5BBA;
}

.color02 {
    background-color: #494A4D;
}

.color03 {
    background-color: #B0B7B9;
}

.color04 {
    background-color: #EE6779;
}

.color05 {
    background-color: #494949;
}

.color06 {
    background-color: #F8F8F6;
    border: 0.5px solid #464545;
}

.color07 {
    background-color: #E89ACC;
}

.color08 {
    background-color: #A2CAC9;
}

.color09 {
    background-color: #8296DF;
}

.color10 {
    background-color: #464545;
}

.color11 {
    background-color: #8B8781;
}

.color12 {
    background-color: #E2E2E2;
    border: 0.5px solid #464545;

}

.color13 {
    background-color: #BCAC9F;
}


.discount-card-price {
    font-family: 'pretendard';
    font-size: 22px;
    font-weight: 600;
    color: #F95252;
}

.discount-card-price span {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    color: #879098;
}

.discount-sec-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 50px;
    margin: 60px auto 0;
    width: fit-content;
    gap: 10px;
}

.discount-sec-btn:hover {
    background-color: #516AEC;
    border: 2px solid #516AEC;
    transition: all 0.3s ease;
}


/* process 영역 */
.process-sec {
    background-color: #ADD2E2;
}

.process-wrap {
    background-color: white;
    padding: 30px 0;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.num {
    /* position: sticky; */
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    text-align: center;
    background-color: #516AEC;
    padding: 2px;
    margin-bottom: -15px;
    z-index: 1;
}

.process-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.process-card-bg {
    background-color: #F4F6F8;
    border-radius: 50%;
    width: 142px;
    height: 142px;
    position: relative;
}

.process-card-bg img {
    position: absolute;
    width: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.process-arrow {
    width: 70px;
    height: 70px;
}

.process-text {
    margin-top: 20px;
    font-size: 20px;
}



/* event 영역 */
.event-sec {
    width: 100%;
    height: 100%;
}

.event-card01-wrap {
    font-weight: 600;
}

.event-card01-row01,
.event-card01-row02 {
    display: flex;
    align-items: center;
    gap: 3.2%;
    /* width: 100%; */
    line-height: 1.5;
}

.event-card01-row02 {
    margin-top: 40px;
    margin-bottom: 80px;
}

.event-card01 {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 49%;
    height: 270px;
}


.event-card01 img {
    width: 40%;
}

.event-card01-1 {
    background-color: #516AEC;
}

.event-card01-text {
    color: white;
    font-size: 32px;
    width: 60%;
    position: relative;
    z-index: 0;
    width: 60%;
}

.box {
    width: 170px;
    height: 25px;
    background-color: #DC4FBB;
    position: absolute;
    left: -25px;
    top: 64px;
    z-index: -1;
}

.event-card01-2 a,
.event-card01-4 a {
    font-weight: 400;
}

.event-card01-2 {
    background-color: #8B5FE0;
}


.event-card01-2 span {
    color: #D6FF20;
}

.event-card01-text a {
    font-size: 18px;
    text-decoration: underline;
    color: white;
}

.event-card01-3 {
    background-color: #022B92;
}

.event-card01-4 {
    background-color: #DC4FBB;
}


.event-card02-sec {
    background-color: #2A3037;
    height: 100%;
    border-radius: 20px;
    padding: 60px 0;
}

.event-card02-text {
    padding-bottom: 60px;
}

.event-card02-text span {
    background-image: linear-gradient(to right, #00FFEA, #DD00FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.event-card02-title {
    font-size: 36px;
    color: white;
    text-align: center;
    font-weight: 600;
}

.event-card02-subtitle {
    font-size: 22px;
    color: white;
    text-align: center;
    font-weight: 400;
}

.event-card02-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.event-card02 {
    width: 28%;
    gap: 4%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.event-card02-desc span {
    background-color: #2A3037;
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
}

.event-card02-desc h3 {
    margin-top: 15%;
    font-size: 28px;
    font-weight: 600;
    color: #2A3037;
}

.event-sec-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #2A3037;
    background-color: transparent;
    border: 2px solid #2A3037;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 60px auto 0;
    width: fit-content;
    gap: 10px;
}

.event-sec-btn:hover {
    background-color: #2A3037;
    color: white;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

/* review 영역 */
.review-sec {
    background-color: #F3F5FF;
}

.review-subtitle {
    font-size: 22px;
    font-weight: 600;
    margin-top: 26px;
}

.review-card,
.review-card img,
.review-subtitle {
    width: 100%;
}

.review-img {
    overflow: hidden;
}

.review-img img {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* object-fit: cover;
    display: block; */
    transition: transform 0.2s ease-in-out;
}

.review-img:hover img {
    transform: scale(1.1);
}

.review-desc p {
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    padding: 0 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.review-desc span {
    color: #3C5BBA;
}

.review-sec-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #3C5BBA;
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #3C5BBA;
    border-radius: 50px;
    margin: 60px auto 0;
    width: fit-content;
    gap: 10px;
}

.review-sec-btn:hover {
    background-color: #3C5BBA;
    color: white;
    transition: all 0.3s ease-in-out;
}


/* contact 영역 */

.contact-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10%;
    padding: 60px 0;
    flex-wrap: wrap;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-left p {
    font-size: 24px;
}

.contact-left h2 {
    font-size: 52px;
    color: #516AEC;
    font-weight: 600;
}

.contact-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.circle01,
.circle02 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #2A3037;
    position: relative;
}

.circle-title {
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.circle01-wrap,
.circle02-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* footer 영역 */
.footer {
    width: 100%;
    height: 350px;
    background-color: #2A3037;
    color: white;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}

.footer h3 {
    font-size: 26px;
}

.list01 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 2%;
    font-size: 16px;
}

.list02 {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.bold {
    font-weight: 600;
}

.sns-icon {
    margin-top: 15px;
    display: flex;
    gap: 2%;
    height: 22px;
}

@media (max-width: 1024px) {

    /* header 영역 */
    .header-con {
        padding: 0 15px;
    }

    .hamburger-btn {
        display: block;
        border: none;
        background-color: transparent;
    }

    .header-nav {
        position: absolute;
        top: 80px;
        left: 0;
        background-color: white;
        /* border: 1px solid black; */
        width: 100%;
        display: none;
        padding: 100px;
        font-size: 24px;
        font-weight: 600;
        line-height: 2.0;
    }

    .header-nav.on {
        display: block;
    }

    .header-menu {
        flex-direction: column;
        padding: 100px 0;
    }

    .close-btn {
        display: block;
        background-color: transparent;
        border: none;
        position: fixed;
        right: 10%;
    }

    .close-btn img {
        width: 16px;
        height: 16px;
    }

    /* commom 영역 */
    .title {
        font-size: 36px;
    }

    /* kv 영역 */
    .kv-wrap {
        padding: 2%;
    }

    .kv-title {
        font-size: 46px;
    }

    .kv-subtitle {
        font-size: 20px;
    }

    .kv-desc {
        font-size: 20px;
    }

    .kv-btn {
        font-size: 16px;
    }

    /* menu 영역 */
    .menu-wrap {
        padding: 0 2%;
    }

    /* plan 영역 */
    .plan-card-title {
        font-size: 28px;
    }

    .plan-card-wrap {
        position: relative;
        /* gap: 2%; */
    }

    .discount-card-title {
        font-size: 22px;
    }

    .discount-title span {
        font-size: 38px;
    }

    .discount-card-data ul>li {
        font-size: 15px;
    }

    .discount-card-price {
        font-size: 18px;
    }

    .discount-card-price span {
        font-size: 12px;
    }

    /* process 영역 */

    .process-card-bg {
        width: 120px;
        height: 120px;
    }

    .process-text {
        font-size: 18px;
    }

    /* event 영역 */
    .event-card01 {
        height: 230px;
        gap: 5px;
    }

    .event-card01-img {
        width: 120px;
    }

    .event-card01-text {
        font-size: 26px;
    }

    .event-card01-row02 {
        margin-top: 30px;
    }

    .box {
        width: 130px;
        height: 25px;
        background-color: #DC4FBB;
        position: absolute;
        left: -16px;
        top: 48px;
        z-index: -1;
    }

    .event-card02-title {
        font-size: 32px;
    }

    .event-card02-desc h3 {
        font-size: 24px;
    }

    .event-card02 img {
        width: 100%;
    }

    /* review 영역 */
    .review-wrap {
        padding: 0 2%;
    }


    /* contact 영역 */
    /* .contact-left h2 {
        font-size: 52px;
    } */

    .contact-left p {
        font-size: 20px;
    }

    .contact-left h2 {
        font-size: 40px;
    }
}



@media (max-width: 768px) {

    /* commom 영역 */
    .title {
        font-size: 28px;
    }

    /* kv 영역 */
    .kv-wrap {
        flex-direction: column-reverse;
        padding: 60px 0;
        height: 100%;
        width: 100%;
    }

    .kv-wrap img {
        width: 45%;
        margin-right: 50%;
    }

    .kv-text {
        width: 90%;
    }

    .kv-desc {
        margin: 10px 0 30px;
    }

    /* menu 영역 */
    .menu {
        width: 28%;
        align-items: center;
        margin-top: 20px;
    }

    .menu-img {
        width: 100px;
        height: 100px;
    }

    /* discount 영역 */
    .discount-title span {
        font-size: 30px;
    }

    /* process영역 */
    .process-wrap {
        flex-wrap: wrap;
        height: 100%;
        padding: 30px 0;
        margin: 0 auto;
    }

    .process-card {
        width: 24%;
    }

    .process-card-bg {
        width: 100px;
        height: 100px;
    }

    .process-card-bg img {
        width: 40px;
    }

    /* event 영역 */
    .event-card01-wrap {
        margin: 0;
    }

    .event-card01-row01,
    .event-card01-row02 {
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
    }

    .event-card01 {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }

    .event-card01-img {
        width: 30%;
    }

    .event-card01-row02 {
        margin-top: 20px;
    }

    .event-card01-text {
        font-size: 20px;
        width: 60%;
    }

    .box {
        width: 100px;
        height: 18px;
        top: 38px;
        left: -14px;
    }

    .event-card02-wrap {
        margin: 20px;
    }

    .event-card01-text a {
        font-size: 14px;
    }

    .event-card02 img {
        width: 50%;
    }

    .event-card02 {
        width: 96%;
        justify-content: center;
        align-items: center;
        gap: 4%;
    }

    .event-card02-title {
        font-size: 24px;
    }

    .event-card02-subtitle {
        font-size: 18px;
    }

    /* .event-card02-text {
        padding: 40px 0;
    } */

    .event-card02-desc h3 {
        font-size: 20px;
    }

    /* contact 영역 */
    .contact-left h2 {
        font-size: 36px;
    }

    .contact-right {
        margin-top: 40px;
    }

    .circle-title {
        font-size: 20px;
    }

}