@import url(./reset.min.css);

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: local('Pretendard-Black'),
        url("../font/Pretendard-Black.ttf") format('truetype'),
        url("../font/Pretendard-Black.woff2") format('woff2'),
        url("../font/Pretendard-Black.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: local('Pretendard-ExtraBold'),
        url("../font/Pretendard-ExtraBold.ttf") format('truetype'),
        url("../font/Pretendard-ExtraBold.woff2") format('woff2'),
        url("../font/Pretendard-ExtraBold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: local('Pretendard-Bold'),
        url("../font/Pretendard-Bold.ttf") format('truetype'),
        url("../font/Pretendard-Bold.woff2") format('woff2') url("../font/Pretendard-Bold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: local('Pretendard-SemiBold'),
        url("../font/Pretendard-SemiBold.ttf") format('truetype'),
        url("../font/Pretendard-SemiBold.woff2") format('woff2'),
        url("../font/Pretendard-SemiBold.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: local('Pretendard-Medium'),
        url("../font/Pretendard-Medium.ttf") format('truetype'),
        url("../font/Pretendard-Medium.woff2") format("woff2"),
        url("../font/Pretendard-Medium.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: local('Pretendard-Regular'),
        url("../font/Pretendard-Regular.ttf") format('truetype'),
        url("../font/Pretendard-Regular.woff2") format('woff2'),
        url("../font/Pretendard-Regular.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: local('Pretendard-Light'),
        url("../font/Pretendard-Light.ttf") format('truetype'),
        url("../font/Pretendard-Light.woff2") format('woff2'),
        url("../font/Pretendard-Light.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: local('Pretendard-ExtraLight'),
        url("../font/Pretendard-ExtraLight.ttf") format('truetype'),
        url("../font/Pretendard-ExtraLight.woff2") format('woff2'),
        url("../font/Pretendard-ExtraLight.woff") format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: local('Pretendard-Thin'),
        url("../font/Pretendard-Thin.ttf") format('truetype'),
        url("../font/Pretendard-Thin.woff2") format('woff2'),
        url("../font/Pretendard-Thin.woff") format('woff');
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}



/* common 영역 */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Paperozi';
    line-height: 1.2;
}

.pretendard {
    font-family: 'Pretendard';
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 120px;
}

/* header 영역 */
.header-sec {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.logo,
.header-menu a {
    text-decoration: none;
    color: #2A3037;
}

.header-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
}

.header-menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.header-menu ul>li {
    text-decoration: none;
}

.hamburger-btn {
    display: none;
}

.close-btn {
    display: none;
}

/* kv 영역 */
.kv-sec {
    background-image: url("../image/main-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.kv-wrap {
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%
}

.kv-wrap img {
    width: 35%;
}

.kv-text {
    width: 65%;
}

.kv-subtitle {
    font-size: 24px;
    line-height: 1.7;
}

.kv-subtitle span {
    color: #3C5BBA;
}

.kv-title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 15px;
}

.kv-desc {
    font-size: 22px;
    margin-top: 10px;
    line-height: 30px;
    margin-bottom: 40px;
}

.kv-btn {
    width: 170px;
    height: 50px;
    background-color: #092D77;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}

/* menu 영역 */


.menu-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 65px 0 65px;
}

.menu-wrap p {
    text-align: center;
    /* margin-top: 20px; */
    font-size: 20px;
    font-weight: 500;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-img {
    background-color: #F3F5FF;
    border-radius: 50%;
    width: 142px;
    height: 142px;
    position: relative
}

.menu-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* plan 영역 */
.plan-sec {
    background-color: #EEEEEE;
    width: 100%;
    height: 910px;
}

.plan-title {
    padding-bottom: 60px;
}

.plan-title span {
    color: #516AEC;
}

.plan-card-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2%;
    position: relative;
}

.plan-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 465px;
    background-color: white;
    border-radius: 20px;
    gap: 2%;
}

.plan-card-subtitle01 {
    font-size: 18px;
    font-weight: 500;
}

.plan-card-title {
    font-size: 32px;
    font-weight: 600;
    /* padding: 24px; */
}

.plan-card-subtitle02 {
    font-size: 18px;
    font-weight: 600;
    color: #516AEC;
}

.plan-card-desc {
    padding: 20px 0;
}

.plan-card-desc p {
    padding-top: 20px;
}

.plan-card-price {
    margin-top: 20px;
}

.span01 {
    text-decoration: line-through;
    color: #727272;
}

.span02-1 {
    color: #F95252;
    font-weight: 600;
}

.span02-2 {
    font-size: 30px;
}

.merit {
    color: #727272;
}

.btn {
    position: relative;
    font-size: 20px;
}

.plan-sec-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    text-decoration: none;
    color: white;
    background-color: #516AEC;
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.plan-previous-btn {
    position: absolute;
    background-image: url("../image/left-arrow-gray.png");
    background-position: cover;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    left: -50px;
    transform: translate(-50%);
}

.plan-next-btn {
    background-image: url("../image/right-arrow-gray.png");
    background-position: cover;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
    position: absolute;
    right: -150px;
    transform: translate(-50%);
}

/* discount 영역 */
.discount-sec {
    background-color: #2A3037;
    width: 100%;
    height: 872px;
}

.discount-title {
    padding-top: 120px;
    padding-bottom: 60px;
    color: white;
}

.discount-title span {
    font-size: 42px;
}

.discount-card-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2%;
    position: relative;
}

.discount-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 423px;
    background-color: white;
    border-radius: 20px;
    gap: 2%;
}

.discount-card-title {
    font-size: 28px;
    font-weight: 700;
}

.discount-card-data ul {
    display: flex;
    justify-content: center;
    gap: 4%;
}

.discount-card-data ul>li {
    font-family: 'pretendard';
    font-weight: 300;
    width: 60px;
    height: 24px;
    border-radius: 4px;
    color: white;
    background-color: #516AEC;
    padding: 2%;
    text-align: center;
}

.discount-card-color ul {
    display: flex;
    gap: 10px;
}

.color01 {
    background-color: #3C5BBA;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color02 {
    background-color: #494A4D;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color03 {
    background-color: #B0B7B9;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color04 {
    background-color: #EE6779;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color05 {
    background-color: #494949;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color06 {
    background-color: #F8F8F6;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 0.5px solid #464545;
}

.color07 {
    background-color: #E89ACC;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color08 {
    background-color: #A2CAC9;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color09 {
    background-color: #8296DF;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color10 {
    background-color: #464545;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color11 {
    background-color: #8B8781;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color12 {
    background-color: #E2E2E2;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 0.5px solid #464545;

}

.color13 {
    background-color: #BCAC9F;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}


.discount-card-price {
    font-family: 'pretendard';
    font-size: 24px;
    font-weight: 600;
    color: #F95252;
}

.discount-card-price span {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    color: #879098;

}

.discount-sec-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    text-decoration: none;
    color: white;
    background-color: transparent;
    width: 172px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.discount-previous-btn {
    background-image: url("../image/left-arrow-white.png");
    background-color: transparent;
    background-position: cover;
    width: 100px;
    height: 100px;
    border: none;
    position: absolute;
    left: -50px;
    transform: translate(-50%);
}

.discount-next-btn {
    background-image: url("../image/right-arrow-white.png");
    background-color: transparent;
    background-position: cover;
    width: 100px;
    height: 100px;
    border: none;
    position: absolute;
    right: -150px;
    transform: translate(-50%);
}

/* process 영역 */
.process-sec {
    background-color: #ADD2E2;
    height: 633px;
}

.process-wrap {
    margin: 60px 0 120px;
    background-color: white;
    height: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.num {
    /* position: sticky; */
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    text-align: center;
    background-color: #516AEC;
    padding: 2px;
    margin-bottom: -15px;
    z-index: 1;
}

.process-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.process-card-bg {
    background-color: #F4F6F8;
    border-radius: 50%;
    width: 142px;
    height: 142px;
    position: relative;
}

.process-card-bg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.process-arrow {
    width: 70px;
    height: 70px;
}

.process-text {
    margin-top: 20px;
    font-size: 20px;
}



/* event 영역 */
.event-sec {
    height: 1742px;
    width: 100%;
}

.event-card01-wrap {
    margin-top: 60px;
}

.event-card01-row01,
.event-card01-row02 {
    display: flex;
    align-items: center;
    gap: 3.2%;
    width: 100%;
    line-height: 1.5;
}

.event-card01-row02 {
    margin-top: 40px;
}

.event-card01-1 {
    padding: 40px 50px 40px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 49%;
    height: 270px;
    background-color: #516AEC;
}

.event-card01-text {
    color: white;
    font-size: 32px;
    width: 50%;
    position: relative;
    z-index: 0;
}

.event-card01-1 span {
    font-weight: 700;
}

.box {
    width: 170px;
    height: 25px;
    background-color: #DC4FBB;
    position: absolute;
    left: -25px;
    top: 64px;
    z-index: -1;
}

.event-card01-img {
    width: 180px;
}

.event-card01-2 {
    padding: 40px 20px 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 49%;
    height: 270px;
    background-color: #8B5FE0;
}

.event-card01-text {
    width: 60%;
}

.event-card01-2 span {
    color: #D6FF20;
}

.event-card01-2 a {
    font-size: 18px;
    text-decoration: underline;
    color: white;
}

.event-card01-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 49%;
    height: 270px;
    background-color: #022B92;
    padding: 40px 50px 40px 80px;
}

.event-card01-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 49%;
    height: 270px;
    background-color: #DC4FBB;
    padding: 40px 0 40px 40px;
}

.event-card01-4 a {
    font-size: 18px;
    text-decoration: underline;
    color: white;
}

.event-card01-4 img {
    width: 280px;
}

.event-card02 {
    margin-top: 90px;
    background-color: #2A3037;
    height: 627px;
    border-radius: 20px;
}

.event-card02-text {
    padding: 60px 0 60px;
}

.event-card02-title {
    font-size: 38px;
    color: white;
    text-align: center;
}

.event-card02-title span {
    background-image: linear-gradient (to right, #00FFEA, #DD00FF);
    /* background-clip: text; */
    -webkit-background-clip: text;
}

.event-card02-subtitle {
    font-size: 24px;
    color: white;
    text-align: center;
}

.event-card02-wrap {
    display: flex;
    justify-content: space-evenly;
}

.event-card02-1,
.event-card02-2,
.event-card02-3 {
    width: 28%;
    gap: 4%;
    height: 380px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5%;
}

.event-card02-desc span {
    background-color: #2A3037;
    border-radius: 30px;
    width: 80px;
    height: 30px;
    color: white;
    padding: 7px;
}

.event-card02-desc h3 {
    margin-top: 22px;
    font-size: 28px;
    font-weight: 600;
    color: #2A3037;
    padding-bottom: 10px;
}

.event-sec-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    text-decoration: none;
    color: #2A3037;
    background-color: transparent;
    width: 172px;
    height: 50px;
    border: 2px solid #2A3037;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* review 영역 */
.review-sec {
    background-color: #F3F5FF;
    height: 824px;
}

.review-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 3%;
}

.review-subtitle {
    font-size: 22px;
    font-weight: 600;
    margin-top: 26px;
}

.review-card,
.review-card img,
.review-subtitle {
    width: 100%;

}

.review-subtitle {
    text-align: center;
}

.review-desc {
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    padding: 0 2px;
}

.review-desc span {
    color: #3C5BBA;
}

.review-previous-btn {
    background-image: url("../image/left-arrow-gray.png");
    background-color: transparent;
    background-position: cover;
    width: 100px;
    height: 100px;
    border: none;
    position: absolute;
    left: -50px;
    transform: translate(-50%, 100%);
}

.review-next-btn {
    background-image: url("../image/right-arrow-gray.png");
    background-color: transparent;
    background-position: cover;
    width: 100px;
    height: 100px;
    border: none;
    position: absolute;
    right: -150px;
    transform: translate(-50%, 100%)
}

.review-sec-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    text-decoration: none;
    color: #3C5BBA;
    background-color: transparent;
    width: 210px;
    height: 50px;
    border: 2px solid #3C5BBA;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* contact 영역 */
.contact-sec {
    height: 316px;
}

.contact-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30%;
    padding: 60px 0;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-left p {
    font-size: 24px;
}

.contact-left h2 {
    font-size: 60px;
    color: #516AEC;
    font-weight: 600;
}

.contact-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.circle01,
.circle02 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #2A3037;
    position: relative;
}

.circle-title {
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.circle01-wrap,
.circle02-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* footer 영역 */
.footer {
    width: 100%;
    height: 350px;
    background-color: #2A3037;
    color: white;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
}

.footer h3 {
    font-size: 26px;
}

.list01 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 2%;
    font-size: 16px;
}

.list02 {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.bold {
    font-weight: 600;
}

.sns-icon {
    margin-top: 15px;
    display: flex;
    gap: 2%;
    height: 22px;
}



@media (max-width: 1024px) {

    /* header 영역 */
    .header-con {
        padding: 0 15px;
    }

    .hamburger-btn {
        display: block;
        border: none;
        background-color: transparent;
    }

    .header-nav {
        position: absolute;
        top: 80px;
        left: 0;
        background-color: white;
        border: 1px solid black;
        width: 100%;
        display: none;
        padding: 50px;
    }

    .header-nav.on {
        display: block;
    }

    .header-menu {
        flex-direction: column;
        padding: 50px 0;
    }

    .close-btn {
        display: block;
        background-color: transparent;
        border: none;
        position: fixed;
        right: 10%;
    }

    .close-btn img {
        width: 16px;
        height: 16px;
    }

    /* commom 영역 */
    .title {
        font-size: 36px;
    }

    /* kv 영역 */
    .kv-wrap {
        padding: 2%;
    }

    .kv-title {
        font-size: 46px;
    }

    .kv-subtitle {
        font-size: 20px;
    }

    .kv-desc {
        font-size: 20px;
    }

    .kv-btn {
        font-size: 16px;
    }

    /* menu 영역 */
    .menu-wrap {
        padding: 0 2%;
    }

    /* plan 영역 */
    .plan-card-wrap {
        padding: 0 2%;
    }

    .plan-card-title {
        font-size: 28px;
    }

    .plan-card-wrap {
        gap: 2%;
        position: relative;
    }

    .plan-sec-btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 80px;
        text-decoration: none;
        color: white;
        background-color: #516AEC;
        width: 210px;
        height: 50px;
        border: none;
        border-radius: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .plan-previous-btn {
        left: 50px;
        transform: translate(-50%);
    }

    .plan-next-btn {
        right: -50px;
        transform: translate(-50%);
    }


    /* discount 영역 */
    .discount-card {
        padding: 0 2%;
    }

    .discount-card-title {
        font-size: 24px;
    }

    .discount-card-data ul>li {
        font-size: 15px;
    }

    .discount-card-price {
        font-size: 18px;
    }

    .discount-card-price span {
        font-size: 12px;
    }

    .discount-previous-btn {
        left: 50px;
        transform: translate(-50%);
    }

    .discount-next-btn {
        right: -50px;
        transform: translate(-50%);
    }

    /* process 영역 */
    .process-wrap {
        width: 96%;
        margin: 60px 2% 120px;
        justify-content: center;
    }

    .process-card-bg {
        width: 120px;
        height: 120px;
    }

    /* event 영역 */
    .event-card01-wrap {
        gap: 2%;
    }

    .evnet-card02-wrap {
        padding: 0 2%;
    }

    .event-card01-1,
    .event-card01-2,
    .event-card01-3,
    .event-card01-4 {
        height: 230px;
        gap: 10%;
    }

    .event-card01-text {
        font-size: 32px;
    }

    .event-card01 img {
        width: 90%;
    }

    .event-card01-text {
        font-size: 24px;
    }

    .box {
        width: 130px;
        height: 20px;
        background-color: #DC4FBB;
        position: absolute;
        left: -20px;
        top: 46px;
        z-index: -1;
    }

    /* review 영역 */
    .review-wrap {
        padding: 0 2%;
    }

    .review-previous-btn {
        left: 50px;
        transform: translate(-50%);
    }

    .review-next-btn {
        right: -50px;
        transform: translate(-50%);
    }

    /* contact 영역 */
    .contact-left h2 {
        font-size: 52px;
    }
}